<!DOCTYPE html>
<html>
<head>
  <title>Mhapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= 2 * 2 %>

<%= yield %>

<%= 3 * 3 %>

</body>
</html>
